.sidebar {
    position: fixed;
    left: 0;
    top: 55px;
    bottom: 0;
    width: 65px;
    background-color: white;
   
    z-index: 200;
}
.visit-side-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin-bottom: 10px;
    font-size: 10px;
}
.visit-side-bar:hover {
    background-color: rgb(234, 231, 231);
    cursor: pointer;
}
.visit-side-bar img {
    height: 23px;
}